* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    margin: 0;
}

.container {
    max-width: 400px;
    width: 100%;
    background: gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;  /* Extra voor de zekerheid om in het midden te staan */
    display: flex;
    flex-direction: column; /* Zorgt voor consistente weergave, ook op mobiele apparaten */
    justify-content: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="time"], input[type="number"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #333; /* Tekstkleur consistent maken */
    font-family: Arial, sans-serif; /* Lettertype consistent maken */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white; /* Maak de achtergrond wit */
    box-sizing: border-box; /* Zorg ervoor dat padding wordt meegerekend in de breedte */
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    background-color: #45a049; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff7300;
}

#output {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    color: #333;
}

.logo {
    align-items: center;
    margin-bottom: 15px;
    text-align: center; /* Logo gecentreerd */
    align-items: center;
}

@media (max-width: 600px) {
    /* Zorg dat het formulier goed uitgelijnd is op kleinere schermen */
    .container {
        padding: 15px;
        max-width: 80%; /* Minder marge aan de zijkanten op kleinere schermen */
    }

    h1 {
        font-size: 1.5em; /* Kleinere titel voor kleinere schermen */
    }

    button {
        font-size: 1em; /* Knop is iets kleiner op mobiele apparaten */
        padding: 10px; /* Kleinere padding voor knoppen */
    }
    textarea, input[type="text"], input[type="time"], input[type="number"], input[type="date"] {
        font-size: 1em;
        padding: 8px;
    }
    .modal-content {
        margin: 20% auto; /* Breng de modale inhoud dichter naar het midden van de pagina */
    }
}


input[type="text"]:focus,
textarea:focus,
input[type="time"]:focus, 
input[type="number"]:focus, 
input[type="date"]:focus {
    border-color: #45a049;
    outline: none;
    box-shadow: 0 0 5px rgba(69, 160, 73, 0.5);
}

#datetime-container {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#weeknummer, #datum-en-tijd {
    font-size: 1.2em;
    font-weight: bold;
}

.modal {
    display: none; /* Verberg standaard */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); /* Donkere achtergrond */
}

.modal-content {
    background-color: gray;
    margin: 15% auto; 
    padding: 20px;
    border: 5px solid orangered;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #333; /* Tekstkleur consistent maken */
    font-family: Arial, sans-serif; /* Lettertype consistent maken */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white; /* Maak de achtergrond wit */
    box-sizing: border-box; /* Zorg ervoor dat padding wordt meegerekend in de breedte */
    resize: vertical; /* Voor consistentie, maak alleen verticaal resizebaar */
}
